<div>
  <div class="body">
    <div class="card shadow" style="width: 20rem;">

      <!-- https://codepen.io/nxworld/pen/oLdoWb -->
      <div class="ribbon ribbon-top-right">
        <span>
          Free
        </span>
      </div>


      <div class="card-body">
        <div class="row">
          <div class="display-3 custom-title">
            {{title}}
          </div>
        </div>
        <div class="row">
          <app-category-selection></app-category-selection>
        </div>
        <div class="row">
          <app-display></app-display>
        </div>
      </div>
    </div>
  </div>
</div>